{% extends "::layout.html.twig" %}

{% trans_default_domain 'EdahiraDahiraBundle' %}

{% block content %}
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                {% block sidebar %}
                    <li class="nav-header"><i class="icon-wrench"></i> {{'label.administration' | trans | capitalize}}</li>
                    <li><a href="{{ path('dahira_index') }}">{{'label.dahira' | trans | capitalize}}</a></li>
                    <li><a href="{{ path('caisse_index') }}">{{'label.caisse' | trans | capitalize}}</a></li>
                    <li><a href="{{ path('typeevenement_index') }}">{{'label.typeevenement' | trans | capitalize}}</a></li>
                    <li><a href="{{ path('categorie_index') }}">{{'label.categorie' | trans | capitalize}}</a></li>
                    <li><a href="{{ path('membre_index') }}">{{'label.membre' | trans | capitalize}}</a></li>
                    <li class="nav-header"><i class="icon-gift"></i> {{'label.events' | trans | capitalize}}</li>
                    <li><a href="{{ path('event_index') }}">{{'label.evenement' | trans | capitalize}}</a></li>
                    <li><a href="{{ path('depenses_index') }}">{{'label.depenses' | trans | capitalize}}</a></li>
                    <li><a href="{{ path('charges_index') }}">{{'label.charges' | trans | capitalize}}</a></li>
                    <li><a href="{{ path('versement_index') }}">{{'label.versement' | trans | capitalize}}</a></li>
                    <li class="nav-header"><i class="icon-signal"></i> {{'label.gestion' | trans | capitalize}}</li>
                    <li><a href="{{ path('etats_caisse') }}">{{'label.etat.caisse' | trans | capitalize}}</a></li>
                    <li><a href="{{ path('etats_evenement') }}">{{'label.etat.type' | trans | capitalize}}</a></li>
                    <li><a href="{{ path('etats_membre') }}">{{'label.etat.type.membre' | trans | capitalize}}</a></li>
                    <li><a href="{{ path('etats_charges') }}">{{'label.etat.charge' | trans | capitalize}}</a></li>
                     <li><a href="{{ path('etats_chargemembre') }}">{{'label.etat.versementmembre' | trans | capitalize}}</a></li>
                {% endblock %}
            </ul>
        </div>
    </div>
    <div class="span9">
        <div class="row-fluid">
            {% block body_corp %}
                <div class="page-header">
                    {% block body_header %}
                    {% endblock %}
                </div>
                {% block body_content %}
                    {% autoescape 'html' %}
                        {% for message in app.session.flashbag.get('info') %}
                            <p><span class="label label-info">{{ message | trans }}</span></p>
                        {% endfor %}
                        {% for message in app.session.flashbag.get('error') %}
                            <p><span class="label label-important">{{ message | trans }}</span></p>
                        {% endfor %}
                        {% for message in app.session.flashbag.get('success') %}
                            <p><span class="label label-success">{{ message | trans }}</span></p>
                        {% endfor %}
                        {% for message in app.session.flashbag.get('warning') %}
                            <p><span class="label label-warning">{{ message | trans }}</span></p>
                        {% endfor %}
                        {% for message in app.session.flashbag.get('html') %}
                            {% for url in app.session.flashbag.get('url') %}
                                <p><span class="alert alert-info"><a href="{{ url }}">{{ message | trans }}</a></span></p>
                            {% endfor %}
                        {% endfor %}

                    {% endautoescape %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}