{% extends "::layout.html.twig" %}
{% block content %}
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% block sidebar %}
				  <li class="nav-header"><i class="icon-wrench"></i> Administration</li>
				  <li><a href="{{ path('typeevenement_index') }}">{{'label.typeevenement' | trans | capitalize}}</a></li>
				  <li><a href="{{ path('caisse_index') }}">{{'label.caisse' |trans | capitalize}}</a></li>
				  <li><a href="{{ path('event_index') }}">{{'label.evenement' |trans | capitalize}}</a></li>
				  <li><a href="{{ path('membre_index') }}">{{'label.membre' |trans | capitalize}}</a></li>
				  <li class="nav-header"><i class="icon-signal"></i> Statistics</li>
				  <li><a href="{{ path('etats_index') }}">{{'label.etat.typeevenement' |trans | capitalize}}</a></li>
				  <li><a href="{{ path('etats_membre', {id:1, 'type': 1, 'page': 1}) }}">{{'label.etat.membre' |trans | capitalize}}</a></li>
				  <li><a href="">Users</a></li>
				  <li><a href="">Visitors</a></li>
				  <li class="nav-header"><i class="icon-user"></i> Profile</li>
				  <li class="active"><a href="">My profile</a></li>
              {% endblock %}
            </ul>
        </div>
    </div>
    <div class="span9">
		<div class="row-fluid">
		    {% block body_corp %}
				<div class="page-header">
			        {% block body_header %}
				    {% endblock %}
				</div>
		        {% block body_content%}
			    {% endblock %}
			{% endblock %}
		</div>
    </div>
{% endblock %}