{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% trans_default_domain 'EdahiraDahiraBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        [id*="form"] div {
          /*border:#000000 1px solid;*/
          display:inline-block;
        }
        .form-horizontal .controls{
          margin-left: 15px;
          margin-top: 3px;
        }

    </style>
{% endblock %}

{% block title %} {{ parent()}} | {{'label.cotisation' | lower | trans }}{% endblock %}

{% block body_header %}
    
    {% if event.typeevenement.nom | lower == 'dahira' %}
        <h1>{{ 'text.cotisation.dahira' | trans({'%membre%': event.membre.affichage }) }}<small>{{ event.date | date('d-m-Y')}}</small></h1>
    {% elseif event.typeevenement.nom | lower == 'mensualité' %}
        {{ 'text.cotisation.mensualite' | trans({'%mois%': event.date | date('M-Y') }) }}<small></h1>
    {% endif %}

{% endblock %}

{% block body_content %}
     {% include "EdahiraDahiraBundle:Cotisation:formCotisation.html.twig" %}
{% endblock %}