{% trans_default_domain 'EdahiraDahiraBundle' %}

<form class="form-horizontal" action="{{ path('depenses_editer',{'id': depense.id}) }}" method="post" enctype="{{ form_enctype(form) }}"s>
	{{ form_errors(form) }}
	<fieldset>

		 {{ form_widget(form) }}

        <div class="form-actions">
			<input type="submit" class="btn btn-success btn-large" value={{ 'label.enregistrer'| trans}} />
			<a class="btn" href="{{ path(app.session.get('last_route')) }}">{{ 'label.annuler'| trans}}</a>
		</div>
	</fieldset>
</form>