{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% trans_default_domain 'EdahiraDahiraBundle' %}

{% block title %}{{ parent()}} | {{'label.etat' | lower | trans }}{% endblock %}

{% block stylesheets %}
	{{parent()}}

	<style>
        .page-header {
            padding-bottom: 0px;
        }
	</style>
{% endblock %}

{% block body_header %}
    {% include "EdahiraDahiraBundle:Etats:formCaisse.html.twig" %}
{% endblock %}

{% block body_content %}
    {{ parent() }}
    
    <div id="etats_caisse"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$("#form_caisse").submit(function(e){
		    e.preventDefault();
		    var DATA = $(this).serialize();
		    $.ajax({
		        type: "POST",
		        url: "{{ path('etats_caisse')}}",
		        data: DATA,
		        cache: false,
		        success: function(data){
		           $('#etats_caisse').html(data);
		        }
		    });    
		    return false;
		});
	</script>
{% endblock %}