{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% trans_default_domain 'EdahiraDahiraBundle' %}

{% block title %}{{ parent()}} | {{'label.etat' | lower | trans }}{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
	.page-header {
	   padding-bottom: 0px;
	}
</style>
{% endblock %}
{% block body_header %}
	{% include "EdahiraDahiraBundle:Etats:formType.html.twig" %}
{% endblock %}

{% block body_content %}
	{{ parent() }}
	
	<div id="etats_type"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script >
		$("#form_type").submit(function(e){
		    e.preventDefault();
		    var DATA = $(this).serialize();
		    $.ajax({
		        type: "POST",
		        url: "{{ path('etats_evenement')}}",
		        data: DATA,
		        cache: false,
		        success: function(data){
		           $('#etats_type').html(data);
		        }
		    });    
		    return false;
		});
	</script>
{% endblock %}