{% trans_default_domain 'EdahiraDahiraBundle' %}

<form class="form-horizontal" id="form_charge" action="{{ path('etats_charges') }}" method="post" {{ form_enctype(form) }}>
    <div class="control-group">
    <label class="control-label" for="membre">{{ form_label(form.charge, "Charge :") }}</label>
            <div class="controls">
            {{ form_widget(form.charge) }}
            {{ form_widget(form.voir) }}
        </div>
    </div>
</form>