{% trans_default_domain 'EdahiraDahiraBundle' %}

<form class="form-horizontal" id="form_type" action="{{ path('etats_evenement') }}" method="post" {{ form_enctype(form) }}>
    <div class="control-group">
		<label class="control-label" for="membre">{{ form_label(form.type) }}</label>
		<div class="controls">
			{{ form_widget(form.type) }}
			{{ form_widget(form.voir) }}
		</div>
	</div>
</form>