{% trans_default_domain 'EdahiraDahiraBundle' %}

<form class="form-horizontal" id="form_caisse" action="{{ path('etats_caisse') }}" method="post" {{ form_enctype(form) }}>
    <div class="control-group">
    <label class="control-label" for="membre">{{ form_label(form.caisse, "Caisse :") }}</label>
            <div class="controls">
            {{ form_widget(form.caisse) }}
            {{ form_widget(form.voir) }}
        </div>
    </div>
</form>