{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% trans_default_domain 'EdahiraDahiraBundle' %}

{% block title %}{{ parent()}} | {{'label.etat' | lower | trans }}{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
        .page-header {
            padding-bottom: 0px;
        }
	</style>
{% endblock %}

{% block body_header %}
    <h2>{{ 'label.etats' | trans }}</h2>
{% endblock %}
{% block body_content %}
    {% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
	{% endfor %}
   <div id="etats"></div>
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{#
    <script >
		$("#form_type").submit(function(){
		    var type = $("#edahira_dahirabundle_eatatypeevenement_type").val();
		    var DATA = 'type=' + type;
		    $.ajax({
		        type: "POST",
		        url: "{{ path('etats_evenement')}}",
		        data: DATA,
		        cache: false,
		        success: function(data){
		           $('#etats').html(data);
		        }
		    });    
		    return false;
		});
	</script>
	#}
{% endblock %}