{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% trans_default_domain 'EdahiraDahiraBundle' %}

{% block title %}{{ parent()}} | {{'label.etat' | trans | lower }}{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
	.page-header {
	   padding-bottom: 0px;
	}
</style>
{% endblock %}
{% block body_header %}
	{% include "EdahiraDahiraBundle:Etats:formMembre.html.twig" %}
{% endblock %}
{% block body_content %}
	   {{ parent() }}
    <div id="etats">
        {% if membre %}
        	{% if membre.id != null %}
            	{% include "EdahiraDahiraBundle:Etats:ajax.membre.html.twig" %}
            {% endif %}
        {% endif %}
    </div>
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    
    <script >
		$("#form_membre").submit(function(e){
		    e.preventDefault();
		    var DATA = $(this).serialize();
		    $.ajax({
		        type: "POST",
		        url: "{{ path('etats_membre')}}",
		        data: DATA,
		        cache: false,
		        success: function(data){
		           $('#etats').html(data);
		        }
		    });    
		    return false;
		});

		
	</script>
{% endblock %}