{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% trans_default_domain 'EdahiraDahiraBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #edahira_dahirabundle_caisses_jour select{
            width:74px
        }
    </style>
{% endblock %}

{% block title %}{{ parent()}} | {{'label.caisse' | lower | trans }}{% endblock %}

{% block body_header %}

	{% if caisse.id %}
		<h1>{{ 'text.modification' | trans({'%objet%': 'caisse'}) }}</h1>
	{% else %}
		<h1>{{ 'text.nouvelle' | trans({'%objet%': 'caisse'}) }}</h1>
	{% endif %}

{% endblock %}

{% block body_content%}
	{{ parent() }}
	{% include "EdahiraDahiraBundle:Caisses:formCaisse.html.twig" %}
{% endblock %}