{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% trans_default_domain 'EdahiraDahiraBundle' %}

{% block title %}{{ parent()}} | {{'label.type' | lower | trans }}{% endblock %}

{% block body_header %}

	{% if type.id %}
		<h1>{{ 'text.modification' | trans({'%objet%': 'type d\'évènement'}) }}</h1>
	{% else %}
		<h1>{{ 'text.nouveau' | trans({'%objet%': 'type d\'évènement'}) }}</h1>
	{% endif %}

{% endblock %}
{% block body_content%}
	{{ parent() }}

    {% if form is defined %}
		{% include "EdahiraDahiraBundle:Typeevenement:formTypeevenement.html.twig" %}
	{% endif %}
	
{% endblock %}