{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% trans_default_domain 'EdahiraDahiraBundle' %}

{% block title %} {{ parent()}} | {{'label.membre' | lower | trans}} {% endblock %}

{% block body_header %}
    
    {% if membre.id %}
		<h1>{{ 'text.modification' | trans({'%objet%': 'membre'}) }}</h1>
	{% else %}
		<h1>{{ 'text.nouveau' | trans({'%objet%': 'membre'}) }}</h1>
	{% endif %}

{% endblock %}

{% block body_content%}
    {{ parent() }}

	{% if form is defined %}
        {% include "EdahiraDahiraBundle:Membre:formMembre.html.twig" %}
    {% endif %}

{% endblock %}