{% extends "EdahiraDahiraBundle::layout.html.twig" %}

{% trans_default_domain 'EdahiraDahiraBundle' %}

{% block title %}{{ parent()}} | {{'label.catégorie' | lower | trans }}{% endblock %}

{% block body_header %}
	<h1>{{ 'text.fem.suppression' | trans({'%objet%': 'catégorie: '~categorie.nom}) }}</h1>
{% endblock %}

{% block body_content %}
	{{ parent() }}
	<form class="form-horizontal" action="{{ path('categorie_supprimer',{'id': categorie.id}) }}" method="post" >
		<fieldset>
	        <div class="form-actions">
				<input type="submit" class="btn btn-success btn-large" value={{ 'label.supprimer'| trans}} />
				<a class="btn" href="{{ path('categorie_index') }}">{{ 'label.annuler'| trans}}</a>
			</div>
		</fieldset>
	</form>
{% endblock %}